<!DOCTYPE html>
<html ng-app="listaTelefonica" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="./angular-1.8.2/angular.js"></script>

    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista telefonica";

            $scope.contatos = [
                { nome: "Pedro", numero: "99898985" },
                { nome: "Ana", numero: "93898585" },
                { nome: "Maria", numero: "96398985" }

            ]

            $scope.adcionarContato = function (contato) {

                $scope.contatos.push(angular.copy(contato));

            };
        });





    </script>
    <title>Lista telefonica</title>

    <style>
        .jumbotron,
        .form-control,
        .btn {
            width: 400px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .input {
            margin-top: 10px;
        }
    </style>
</head>


<body ng-controller="listaTelefonicaCtrl">
    <input class="form-control" type="text" ng-model="contato.nome" placeholder="Digite o nome" />
    <input class="form-control" type="text" ng-model="contato.numero" placeholder="Digite o telefone de contato" />

    <button class="btn btn-primary btn-block" ng-click="adcionarContato(contato)">Adcionar contatos</button>
    <div class="jumbotron">
        <!--Há dua formas de renderizar, por ngbind e por intepolação {{app}}. 
            <h4 ng-bind="app"></h4> 
            Por interpolação se houver lentidão na aplicação vai mostrar a interpolação-->

        <h3>{{app}}</h3>

        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{contato.nome}}</td>
                <td>{{contato.numero}}</td>

            </tr>


        </table>
        <hr>

    </div>



</body>

</html>